@media only screen and (max-width: 915px) {
   p{
       font-size: 12px;
   }
   
    .menu-btn{
        display: inline-block;
    }
    #menu{
        display: none;
       

    }
    .nav{
        flex-direction: column ;
        align-items: center;
    }
    .nav li:first-child{
        margin-top: 3rem;
    }
    .nav li{
        padding-bottom: 2rem;
    }
    #about-img img{
        left: 5px;
    }
    .video-btn{
        z-index: 10000;
       top: 87%;
       right: 50%;
       transform: translateX(50%);
    }
    .container3 h2{
        top: 9%;
    }
    #services{
        display: grid;
        grid-template-columns: auto auto;
    }
    .service{
        margin: 10px 15px 10px 15px;

    }
    .service img{
        padding-top: 8px;
    }
    .service p{
        font-size: 12px;
    }
    .controls{
        display: none;
    }

    #blog-post{
        display: grid;
        grid-template-columns: auto auto;
        height: 100%;
    }
    .post{
      font-size: 12px;  
    }
    .post img{
      height: auto;  
    }

    .faq-text{
        top: 7%;
        font-size: 1.5rem;
        text-align: center;
        right: 50%;
        transform: translateX(50%);
    }
    .faq-ques{
        width: 90%;
        text-align: center;
        right: 50%;
        top: 39%;
        transform: translateX(50%);
    }

    .insta-img{
        top: 58%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .insta-img img{
        width: 100%;
        height: 6.5rem;
    }
    .insta-img img:hover{
        opacity: 1;
        width: 100%;
        height: 6.5rem;
     }
    @keyframes slider {
        0%   {left: 0%}
        25%  {left: 0%}
        50%  {left: 0%}
        75%  {left: 0%}
        100% {left: 0%}
    }

    .footer-bg{
        min-height: 30%;
    }
    .container8{
        height: 100%;
    }
    .footer1{
        display: grid;
        grid-template-columns: auto auto;
    }
}
        











  
    