*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
    
}
.bg{
    width: 100%;
    position: relative;
    background-image: url(images/bg-img.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: 0 0 150px 30px rgba(0, 0, 0, 1) inset;
}

.container1{
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px ;


}
.logo{
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 1px 2px 3px #000;
    cursor: pointer;

}
#menu{
    width: 40%;
    transition: all 3s ease-in;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    margin: 0px 5px;
    text-shadow: 1px 2px 3px #000;
}
.menu-btn{
    display: none;
    cursor: pointer;
}

.menu-btn img{
    width: 35px;
    cursor: pointer;

}

#title{
    position: absolute;
    color: #fff;
    left: 2%;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    text-transform: capitalize;
    text-align: justify;
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 1px 2px 3px #000;
    margin-left: 10px;
}

.video-btn{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 7rem;
    height: 2.5rem;
    background-color: rgb(18, 156, 126);
    border: 1px solid rgb(18, 156, 126);
    border-radius: 18px;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.container2{
    z-index: 30;
    position: absolute;
    top: 95%;
    left: 10%;
    display: flex;
    width: 80%;
    height: 5rem;
    background-color: #fff;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 3px 10px #000;
    border: 1px solid transparent;
    border-radius: 4px;
}

#date1,#date2{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 15px;
    width: 20%;
    cursor:pointer
}
#date1:hover,#date2:hover{
    border: 2px solid grey; 
}
#person{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 15px;
    width: 20%;
    cursor:pointer
}
#person:hover{
    border: 2px solid grey; 
}
#find-btn{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 15px;
    width: 20%;
    cursor:pointer
}
#find-btn{
    border: 1px solid rgb(18, 156, 126);
    background-color: rgb(18, 156, 126); 
    cursor:pointer
}
.video-container{
    width: 80%;
    background-color: cyan;
    height: 90vh;
    z-index: 500;
    position: absolute;
    top: 2%;
    left: 10%;
    display: none;
}
.video{
    width: 100%;
    height: 100%;
}
.responsive-iframe{
    width: 100%;
    height: 100%;
}
 

/* services */
.container3{
    position: relative;
    height: 40rem;
    width: 100%;
    /* background-color: rgb(224, 64, 197); */
    overflow-x: hidden;
}

.container3 h2{
    position: absolute;
    top: 20%;
    margin-top: 5rem;
    color: rgb(6, 122, 97);
    margin: 0px 0px 0px 20px;
    width: 100vw;
}
#services{
    position: absolute;
    top: 55%;
    left: 0% ;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    height: 75%;
    margin: auto;
}
    
    
    
.service{
    color: rgb(18, 156, 126);
    min-width: 30%;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow:2px 5px 8px #000;
    margin: 0px 20px;
    height: 85%;
    text-align: justify;
    
}
.service h3{
    color: rgb(18, 156, 126);
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.service p{
    color: rgb(18, 156, 126);
    padding: 0px 35px;
}
.service img{
    width: 20%;
    position: relative;
    left:38%
}

.controls{
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    position: absolute;
    top: 96.5%;
    transform: translateY(-95%);
    cursor: pointer;
}
.btn{
    width: 75px;
    background-color: rgb(18, 156, 126);
    cursor: pointer;
    
}
#prev{
    border: 1px solid transparent;
    border-radius: 15px 0px 0px 15px;
}
#next{
    border: 1px solid transparent;
    border-radius: 0px 15px 15px 0px;
}


.container4{
    position: relative;
    height: 40rem;
    
}

#about-color{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 35%;
    background-color: rgb(18, 156, 126);
}

#about-img img{
    position: absolute;
    min-width: 200px;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

#about-text{
    position: absolute;
    width: 40%;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
    
    
}
#about-text h3{
    color: rgb(18, 156, 126);
    font-weight: 400;
}
.container5{
    height: 40rem;
    position: relative;
    overflow-x: hidden;
}

.blog-bg1{
    height:35%;
    background-color: rgb(18, 156, 126);
    position: relative;
    top: 65%;
}
     
#blog-container{
    width: 90%;
    margin: auto;
    position: relative;
    top: -40%;
    left: 0%;
    height: 30%;

    
}
 .blog-title{
     position: relative;
     top: -45%;
     left: 1%;
    color: rgb(18, 156, 126);
    text-transform: capitalize;
}
#blog-post{
    display: flex;
    height: ;
}
    
    
.post{
    display: inline-block;
    min-width: 24%;
    height: 25%;
    margin: 5%;
    background-color: #fff;
    box-shadow:2px 5px 8px #000;
}
.post img{
    width: 100%;
    height: 80%;
}
.post:hover{
    transform: scale(1.2, 1.3);
}
.post p{
    background-color: #fff;
    height: 6rem;
    padding: 10px;
}

    


.container6{
    height: 40rem;
    background-color: rgb(18, 156, 126);
    position: relative;
    display: flex;
    justify-content: space-between;
}
.faq-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: bolder;
    text-align: justify;
    left: 10%;
}

.faq-ques{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    width: 30%;
    text-transform: capitalize;
}
.ques{
    height: 5rem;
    border-bottom: 2px solid rgb(8, 83, 67);
}
.answer{
    display: none;
}


.container7{
  width: 100%;
  height: 40rem;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}
.insta-img{
    position: relative;
    display: flex;
    top: 50%;
    left: 0%;
    transform: translatey(-50%);
    width: 100%;
    animation: slider 5s infinite;
}

  
.insta-title{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: rgb(18, 156, 126);
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 1%;
}
.insta-text p{
    width: 40%;
    position: absolute;
    right: 2%;
    top: 10%;
}


.insta-img img{
    width: 19%;
    cursor: pointer;
}
    
.insta-img img:hover{
   opacity: 0.6;
   width: 375px;
   height: 325px;
}
@keyframes slider {
    0%   {left: 0%}
    25%  {left: -15%}
    50%  {left: -25%}
    75%  {left: -35%}
    100% {left: -45%}
}
.footer-bg{
    width: 100%;
    position: relative;
    background-color: rgba(223, 222, 222, 0.493);
    height: 15%;
}

.container8{
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  
}
.footer1{
    display: flex;
    justify-content: space-between;

}
.footer1 ul{
    display: flex;
    flex-direction: column;
}
.footer ul li{
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none ;
text-align: left;
cursor: pointer;
}
.footer-hover{
    color: rgba(77, 73, 73, 0.527);
}

.footer-hover:hover{
    font-size: medium;
    color: rgba(0, 0, 0, 1);
}

.social-icon{
    width: 2rem;
}





  


    



